// COLORS
$gunmetal: #202c39;
$gunmetal-dark: #10161d;
$pewter-blue: #88a0a8;
$emeral: #30d987;

// TYPOGRAPHY

$base-font: 10;
$base-font-size: 62.5%;

// LAYOUT
$container-margin: 5%;
$section-margin: calc(max(4rem, 6vw));
$section-padding: calc(max(4rem, 6vw));
$header-height: 7rem;
$heading-width: 6rem;

// SETTINGS COMPONENT
$bubble-size: 5rem;

$breakpoints: (
  "small-phone": 380px,
  "lg-phone": 420px,
  "tablet": 480px,
  "lg-tablet": 600px,
  "laptop": 768px,
  "sm-desktop": 920px,
  "desktop": 1024px,
  "md-desktop": 1224px,
  "lg-desktop": 1366px,
  "x-lg-desktop": 1920px,
  "xx-lg-desktop": 2560px,
);
