@import "../../sass/abstracts/mixins";

.port {
  &__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
    align-items: stretch;

    @include media("screen", "<lg-tablet") {
      grid-template-columns: 1fr;
    }
  }

  &__modal-item {
    background-color: white;
    width: 90%;
    position: relative;
    z-index: 1;

    &-banner {
      height: 40rem;
      overflow-y: scroll;
      scroll-behavior: smooth;

      img {
        width: 100%;
      }

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: $gunmetal;
      }

      &::-webkit-scrollbar-thumb {
        background: $emeral;
      }
    }

    &-content {
      p {
        margin-bottom: 2.4rem;
      }
    }

    &-name {
      background-color: rgba($gunmetal, 0.9);
      border-bottom: 2px solid $emeral;
      clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
      color: white;
      padding: 1rem 3rem 1rem 2.5rem;
      max-width: 80%;
      width: max-content;
    }

    &-description {
      padding: 2.4rem;
    }
  }
}
