@import "../../sass//abstracts/variables";
@import "../../sass/abstracts/mixins";

.skills {
  &__container {
    height: auto;
    flex-grow: 1;
    align-items: flex-start;

    @include media("screen", "<lg-tablet") {
      flex-direction: column;
    }
  }

  &__summary {
    @include media("screen", "<md-desktop") {
      margin-bottom: 5.6rem;
    }
  }

  &__selectors {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    @include media("screen", "<lg-tablet") {
      display: flex;
    }
  }

  &__selector {
    background-color: #161f28;
    cursor: pointer;

    &:first-child {
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-bottom-left-radius: 5px;
    }

    &-inner {
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      width: 6rem;
      height: 6rem;
      transition: all 0.3s ease-in;

      &.active {
        background-color: $gunmetal;
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-bottom: 1px solid white;

        @include media("screen", "<lg-tablet") {
          border-bottom: none;
          border-right: 1px solid white;
        }
      }

      svg {
        width: 3rem;
        height: auto;
      }

      @include media("screen", "<lg-tablet") {
        border-bottom: none;
        border-right: 1px solid transparent;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
      }
    }
  }

  &__preview {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #10161d;
    padding: 3rem 4rem;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
