@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

.about {
  position: relative;

  @include media("screen", "<sm-desktop") {
    flex-direction: column;
    align-items: flex-start;
  }

  h2:first-child {
    text-transform: uppercase;
    font-size: 10rem;
  }

  h2:nth-of-type(2) {
    position: relative;
    left: 200px;
    text-transform: uppercase;

    @include media("screen", "<sm-desktop") {
      margin-bottom: 2.4rem;
    }
  }

  p {
    margin-left: 2.4rem;
    font-size: 2.4rem;
  }
}
