.contact {
  clip-path: polygon(0 0, 50% 20%, 100% 0, 100% 100%, 0 100%);
}
.contact {
  &__form {
    width: calc(min(50rem, 90%));
    .form__group {
      position: relative;
      &:not(:last-child) {
        margin-bottom: 4px;
      }
      input,
      textarea {
        background-color: #161f28;
        border: none;
        padding: 1rem 1.5rem;
      }
    }

    button[type="submit"] {
      margin-left: auto;
    }
  }
}
